---
BasedOnStyle: llvm
IndentWidth: 2
---
Language: Cpp
BasedOnStyle: Google
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
---
Language: Json
BasedOnStyle: llvm
...
